.panel.unstarted
  %h2 Unstarted
  %ul
  -10.times do
    %li 
      %h3 Users should be able to download an asset
      %p.current_status 
.panel.started
  %h2 Started
.panel.finished
  %h2 Done
.panel.delivered
  %h2 Delivered