.panel.unstarted
  %h2 Unstarted
  %ul
  -10.times do
    %li
      %p.project Carhartt WIP
      %p.type Feature
      %h3 Users should be able to download an asset
      %p.owner Jan Riethmayer
      %p.label needs-design
      %p.points 5
.panel.started
  %h2 Started
  %ul
  -4.times do
    %li
      %p.project Carhartt WIP
      %p.type Feature
      %h3 Users should be able to download an asset
      %p.owner Jan Riethmayer
      %p.label needs-design
      %p.points 5
.panel.finished
  %h2 Done
  %ul
  -7.times do
    %li
      %p.project Carhartt WIP
      %p.type Feature
      %h3 Users should be able to download an asset
      %p.owner Jan Riethmayer
      %p.label needs-design
      %p.points 5
.panel.delivered
  %h2 Delivered
  %ul
  -8.times do
    %li
      %p.project Carhartt WIP
      %p.type Feature
      %h3 Users should be able to download an asset
      %p.owner Jan Riethmayer
      %p.label needs-design
      %p.points 5
